* {
  background-color: hsla(0, 1%, 49%, 0.136);
}
.body {
  display: flex;
  background-color: white;
  border-radius: 3px;
  height: 300px;
}
.header {
  display: flex;
  width: 100%;
  max-height: 40px;
  background-color: white;
  gap: 10px;
  border-bottom: 2px solid gray;
}

.logo {
  display: flex;
  background-color: white;
  height: 40px;
}
.headEnlaces {
  display: flex;
  gap: 5px;
  background-color: white;
  padding: 8px;
  justify-content: end;
  width: 100%;
}
.enlaces {
  display: flex;
}
.enlace {
  color: rgb(42, 37, 37);
  outline: 2px solid purple;
  border-radius: 3px;
  padding: 1px;
  text-align: center;
  background-color: rgb(155, 47, 182);
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

.enlace:hover {
    background-color: rgb(118, 230, 225) ;
  }