:root {
  --backnav: linear-gradient(
    0deg,
    rgba(165, 34, 208, 1) 43%,
    rgba(224, 91, 246, 1) 77%
  );
  --backhead: linear-gradient(
    0deg,
    rgba(208, 39, 236, 1) 30%,
    rgba(174, 0, 204, 1) 53%,
    rgba(164, 55, 200, 1) 73%
  );
  --backbutton: rgba(56, 20, 53, 0.59);
  --fontcolorwhite: rgb(231, 208, 208);
  --backh1: linear-gradient(138deg, rgba(36,30,33,1) 36%, rgba(89,20,101,1) 68%);
  --backcard: radial-gradient(
    circle,
    rgba(177, 9, 153, 0.9023984593837535) 30%,
    rgba(134, 58, 77, 0.8463760504201681) 53%,
    rgba(154, 33, 107, 0.9108018207282913) 73%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background: var(--backhead);
}
.nav {
  display: flex;
  background: var(--backnav);
  height: 60px;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid var(--backbutton);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}
.logo {
  width: 50px;
}
.enlaces-nav {
  display: flex;
  padding: 10px 30px 10px 15px;
  gap: 30px;
}
.enlace {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid gray;
  box-shadow: 4px 4px 4px rgb(60, 57, 57);
  width: 100px;
  height: 40px;
  border-radius: 15px;
  background-color: var(--backbutton);
  color: var(--fontcolorwhite);
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}
.enlace:hover {
  align-items: flex-end;
  border: 3px solid gray;
  font-size: 20px;
}
header {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 60px;
  z-index: 2;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  padding: 50px 30px;
}
.eslogan {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 50px;
}
.eslogan h1 {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  background: var(--backh1);
  background-clip: content-box;
  color: transparent;
  -webkit-background-clip: text;
}
.eslogan p {
  font-size: 20px;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.img-hero {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 15px 15px violet;
}
.des{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-width: 700px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  gap: 15px;
}
.des h1{
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  background: var(--backh1);
  background-clip: content-box;
  color: transparent;
  -webkit-background-clip: text;

}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px;
}
.foros-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 320px;
  height: 450px;
  background: var(--backcard);
  border: 3px solid black;
  border-radius: 30px;
  padding: 20px;
  color: var(--fontcolorwhite);
  box-shadow: 4px 4px 4px rgb(60, 57, 57);
}
.foros-cards a{
  display: flex;
  margin-left: 60px;
  color:black;
  font-weight: lighter;
}
.foros-cards a:hover{
  text-decoration: underline;
}
.des-img {
  width: 150px;
  border-radius: 25px;
}
.foros-cards h3 {
  font-weight: 900;
  font-size: 17px;
  font-weight: 600;
}
.foros-cards section {
  display: flex;
  width: 300px;
  gap: 10px;
  justify-content: center;
}
.foros-cards section div{
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;

}
.foros-cards section div h3{
  font-weight: 500;
}
.contacto{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.contac-datos section{
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu-ul{
  display: none;
  font-size: 40px;
  cursor: pointer;
}
.nav input{
  display: none;
}
.contacto h1{
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  background: var(--backh1);
  background-clip: content-box;
  color: transparent;
  -webkit-background-clip: text;
}
.contac-datos img{
  width: 40px;
}
.contac-datos{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.contac-logos{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.contac-logos img{
  width: 40px;
}
footer{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  align-items: center;
  border-top: 4px solid var(--backbutton);
}
footer img{
  width: 50px;
}